@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');


header {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-justify: center;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.nav-one {
    display: flex;
    gap: 2rem;
}

h1 {
    font-family: "Montserrat",sans-serif;
    font-size: 1.875rem;
    font-weight: 700;
    color: #0290ff;
}

nav {
    display: flex;
    gap: 2rem;
    align-items: center;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    opacity: .5;
    font-family: "Montserrat",sans-serif;
    font-size: .813rem;
    color: #121212;
    letter-spacing: 1.9px;
}

nav a:active {
    opacity: 1;
    color: #121212;
}

.nav-two {
    border: 1px solid rgb(219, 219, 219);
    height: fit-content;
    width: fit-content;
    align-self: center;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.icon {
    cursor: pointer;
    color: #0290ff;
    padding-top: .28rem;
    padding-bottom: .28rem;
    padding-left: .4rem;
    padding-right: .4rem;
}